# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.env

# Django
db.sqlite3
media/
staticfiles/
*.log

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# FAISS index (optional, if large)
models/cbir_index.faiss
models/paths.pkl
